<!DOCTYPE html>
<html>
<head>
    <title>Asian Lines</title>
    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Assets/css/application.css" rel="stylesheet" />
    <link href="~/Assets/css/spinner.css" rel="stylesheet" />
    <link href="~/Assets/css/jquery-ui-1.10.0.custom.css" rel="stylesheet" />
</head>
    <body>
        <div id="header-region"></div>
        <div id="main-region" class="container">
            <p>To infinity and beyond.</p>
        </div>
        <div id="dialog-region"></div>
        <div id="footer-region"></div>
    
        <script type="text/template" id="header-template">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="#teams">AsianLines admin</a>
                <div class="nav-collapse collapse">
                    <ul class="nav"></ul>
                </div>
            </div>
        </div>
    </script>
        <script type="text/template" id="header-link">
        <a href="#<%= url %>"><%= name %></a>
    </script>
    
        <script type="text/template" id="team-list-layout">
        <div id="panel-region"></div>
        <div id="teams-region"></div>
        <div id="pagination-region"></div>
    </script>
    
        <script type="text/template" id="team-list-panel">
        <button class="btn btn-primary js-new-team">Add team</button><p />
    </script>
    
        <script type="text/template" id ="team-list">
        <thead>
            <tr><th>Name </th><th>Code </th><th>Home-ground </th><th></th></tr>
        </thead>
        <tbody>
        </tbody>
    </script>
    
        <script type="text/template" id ="team-list-item">
        <td><%= name %></td><td><%= code %></td><td><%= homeGround %></td>
        <td>
            <a href="#teams/<%= id %>/edit" class="btn btn-small js-edit">
                <i class="icon-pencil"></i>
                Edit
            </a>
            <button class="btn btn-small js-delete">
                <i class="icon-remove"></i>
                Delete
            </button>
        </td>
    </script>
    
        <script type="text/template" id="team-list-none">
        <td colspan="3">No teams to display</td>
    </script>
    
        <script type="text/template" id="about-message">
        <h1>About</h1>
        <p>A Charles Kagiri Creation</p>
    </script>
    
        <!-- Scripts (to be refactored) -->
        <script src="~/Assets/js/vendor/jquery.js"></script>
        <script src="~/Assets/js/vendor/jquery-ui-1.10.3.js"></script>
        <script src="~/Assets/js/vendor/json2.js"></script>
        <script src="~/Assets/js/vendor/underscore.js"></script>
        <script src="~/Assets/js/vendor/backbone.js"></script>
        <script src="~/Assets/js/vendor/backbone.picky.js"></script>
        <script src="~/Assets/js/vendor/backbone.syphon.js"></script>
        <script src="~/Assets/js/vendor/backbone.paginator.js"></script>
        <script src="~/Assets/js/vendor/backbone.localstorage.js"></script>
        <script src="~/Assets/js/vendor/backbone.marionette.js"></script>
        <script src="~/Assets/js/vendor/spin.js"></script>
        <script src="~/Assets/js/vendor/spin.jquery.js"></script>
        <script src="~/Assets/js/main/config/javascript.js"></script>
        <script src="~/Assets/js/main/config/jquery.js"></script>
        <script src="~/Assets/js/main/config/jquery-ui.js"></script>
        <script src="~/Assets/js/main/config/backbone/sync.js"></script>
        <script src="~/Assets/js/main/config/marionette/application.js"></script>
        <script src="~/Assets/js/main/config/marionette/renderer.js"></script>
        <script src="~/Assets/js/main/config/marionette/regions/dialogs.js"></script>
        <script src="~/Assets/js/main/app.js"></script>
        <script src="~/Assets/js/main/apps/config/storage/localstorage.js"></script>
        <script src="~/Assets/js/main/controllers/_base.js"></script>
        <script src="~/Assets/js/main/entities/_base/model.js"></script>
        <script src="~/Assets/js/main/entities/_base/collection.js"></script>
        <script src="~/Assets/js/main/entities/_base/_fetch.js"></script>
        <script src="~/Assets/js/main/entities/team.js"></script>
        <script src="~/Assets/js/main/entities/header.js"></script>
        <script src="~/Assets/js/main/views/_base/view.js"></script>
        <script src="~/Assets/js/main/views/_base/itemview.js"></script>
        <script src="~/Assets/js/main/views/_base/collectionview.js"></script>
        <script src="~/Assets/js/main/views/_base/compositeview.js"></script>
        <script src="~/Assets/js/main/views/_base/layout.js"></script>
        <script src="~/Assets/js/main/apps/about/about_app.js"></script>
        <script src="~/Assets/js/main/apps/about/show/show_view.js"></script>
        <script src="~/Assets/js/main/apps/about/show/show_controller.js"></script>
        <script src="~/Assets/js/main/apps/header/header_app.js"></script>
        <script src="~/Assets/js/main/apps/header/list/list_view.js"></script>
        <script src="~/Assets/js/main/apps/header/list/list_controller.js"></script>
        <script src="~/Assets/js/main/apps/teams/teams_app.js"></script>
        <script src="~/Assets/js/main/apps/teams/list/list_controller.js"></script>
        <script src="~/Assets/js/main/apps/teams/list/list_view.js"></script>

        <script type="text/javascript">
            Main.start();
        </script>
    </body>
</html>
