@{
    ViewBag.Title = "InvalidPermissions";
}

<h2>Invalid Permissions</h2>
<p>
    You don't have permissions to do what you're attempting to do. 
    Perhaps trying @Html.ActionLink("logging in", "login", "Account") or talk to your administrator
    for the appropriate permissions.
</p>
